# ---> WordPress
*.log
*.sql
wp-admin/
wp-includes/
.htaccess
sitemap.xml
sitemap.xml.gz
/index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
source_git/
wordpress_local_environment/
wp-content/themes/twenty*
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/*
!wp-content/plugins/acfml/
!wp-content/plugins/sitepress-multilingual-cms/
!wp-content/plugins/woocommerce-multilingual/
!wp-content/plugins/wpml-string-translation/
wp-content/wflogs

wp-content/themes/*/.ftppass
wp-content/themes/*/node_modules/
wp-content/themes/*/.vscode/
wp-content/themes/*/images/#uploads/

wp-content/themes/*/**/main.css
**.css.map

**.code-workspace

wp-content/themes/*/js/front.js
wp-content/themes/*/js/vendors/vendors.js

/readme.html
/license.txt

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
*.directory*
.vscode/sftp.json
wp-content/themes/mobix/package-lock.json
