// -----------------------------------------------------------------------------
// CALENDAR
// -----------------------------------------------------------------------------
.calendar {
  margin-top: rem-calc(40);
  width: rem-calc(1160);
  height: rem-calc(1050);

  @include min-width($smlarge) {
    height: rem-calc(830);
  }
}